/* Tela grande */
@media(min-width:768px){
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}

Body{
	background-color: #e5e5e5;
}

#cabecalho{
	/*background-color: #fff200;*/
	background-color: #004600;
	padding-bottom: 20px;
}

/*
#logo{
	width: 90%;
 	height: 165%;
}
*/

#titulo{
	font-size: 40px;
	padding-top: 15px;
	margin-left: 15px;
	width: 100%;
 	color: white;
}


.panel-default {
	box-shadow: 5px 5px 0 #333;
   -webkit-box-shadow: 5px 5px 0 #333;
   -moz-box-shadow: 5px 5px 0 #333;
}
	

.navbar-brand {
	padding-top: 2px;
	padding-bottom: 7px;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 10px;
}

#NotUser { visibility: collapse }

#tabela{
	margin-right: 25px;
}

th{
	background-color: #00a400;
	color: white;
}

.rodape {  
    position:absolute;
    bottom:0;
    width:100%;
    margin-top: 10%;
    padding-top: 30px;
    padding-bottom: 25px;
    /*background-color: #ffbf00;*/
    background-color: #004600;
    color: aliceblue;
}