/* Tela grande */
@media(min-width:768px){
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}

Body{
	background-color: #e5e5e5;
}

#cabecalho{
	background-color: #004600;
	padding-bottom: 20px;
}

#sair{
	padding-top: 25px;
	display: flex;
	justify-content: flex-end;
}

#sair #iconeSair{
	background-color: white;
}

/*
#usuario{
	display: flex;
	justify-content: flex-end;
	font-size: 18pt;
	color: white;
}
*/

#titulo{
	font-size: 40px;
	padding-top: 15px;
	margin-left: 15px;
	width: 100%;
 	color: white;
}


.panel-default {
	box-shadow: 5px 5px 0 #333;
   -webkit-box-shadow: 5px 5px 0 #333;
   -moz-box-shadow: 5px 5px 0 #333;
}
	

.navbar-brand {
	padding-top: 2px;
	padding-bottom: 7px;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 10px;
}

#NotUser { visibility: collapse }

#tabela{
	margin-right: 25px;
}

th{
	background-color: #00a400;
	color: white;
}

.pendente{
	background-color: #942a25;
	margin-left: 200px;
	float:left;
	width: 25%;

	border-radius: 20px;
}
.recebido{
	background-color: #004600;
	margin-left: 30px;
	float:left;
	width: 25%;

	border-radius: 20px;
}
.quantStatu {
	margin: 5px;
	font-family: Arial;
	font-size: 18pt;
	font-weight: bold;
	color: white;
}