 <!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	
	<nav class="navbar navbar-inverse navbar-static-top" id="cabecalho">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <img alt ="G.I.C" th:src="@{/images/logo.png}" id="logo"/>
                </div>
            </div>
        </div>
    </nav>
    
</html>