 <!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<nav class="navbar navbar-inverse navbar-static-top" id="cabecalho">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="titulo">
                  	 <b>
	                  	<i class="glyphicon glyphicon-xbt"></i>	
	                  	G.I Cobranças ||
                         <span id="usuario" th:text="${session.usuarioLogado.nome}"></span>
                  	 </b>
                </div>
            </div>
            <form class="form-horizontal" method="Post" th:action="@{/cobranca/logout}">
                <div id="sair">
                        <input id="iconeSair" type="image" src="https://img.icons8.com/ios-glyphs/40/000000/enter-2.png"/>
                </div>
            </form>
        </div>
    </nav>
    
</html>