<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
	
<head>
    <title>Home</title>
</head>
<section layout:fragment="conteudo">
	<div class="panel panel-default">
    		<div class="panel-heading">
	    		<div class="clearfix">
	    			<h1 class="panel-title aw-titulo-panel"><b><i class="glyphicon glyphicon-home"></i>Home</b></h1>
	    			<span class="input-group-btn">
	    			<a class="btn btn-link aw-link-panel" th:href="@{/titulos/pesquisar}">
	    				<button type="button" class="btn btn-default">
	    					<b>
		    					<i class="glyphicon glyphicon-book"></i>
		    			 		Títulos
	    					</b>	
	    				</button>
	    			</a>
	    		
    			</span>			
	    		</div>
    		</div>   		
    		<div class="panel-body">
				<form method="GET" class="form-horizontal" th:action="@{/titulos}">

					<h2>Gerencie suas Cobranças</h2>
					<br>
					<div class="painelStatus center"  align="center">
						<div class="pendente">
							<center><label class="quantStatu">Pendentes</label></center>
							<br>
							<center><label class="quantStatu" th:text="${pendente}"></label></center>
						</div>
						<div class="recebido">
							<center><label class="quantStatu">Recebidos</label></center>
							<br>
							<center><label class="quantStatu" th:text="${recebido}"></label></center>
						</div>
					</div>


					<!--
					<div th:each = "titulo: ${titulos}">
						<p:chart type="line" th:model="${titulo.status.descricao}"
								 style="height:300px" />
					</div>
					<p:chart type="line" model="#{Titulo.status}"
							 style="height:300px" />
					-->
				</form>
			</div>
    	</div>	
</section>
</html>